<div class="max-w-4xl mx-auto py-8">
  <%= render partial: "template_card", locals: { template: @template } %>

  <div class="mt-6">
    <%= link_to "Back to Library", prompt_templates_path, class: "text-sm text-gray-600 hover:underline" %>
  </div>
</div>