<div class="max-w-3xl mx-auto py-12 px-4">
<h1 class="text-2xl font-bold mb-4">Impressum (Imprint)</h1>


<p><strong>Operator / Provider:</strong><br>
Zulkarnain bin Mohamed</p>


<p><strong>Business address:</strong><br>
Wilhelm-Guddorf-Straße 10<br>
10365 Berlin<br>
Germany</p>


<p><strong>Contact:</strong><br>
Email: <a href="mailto:	devwerkhouz.team@gmail.com">devwerkhouz.team@gmail.com</a><br>
Phone: +49 (0)176 43374388</p>


<p><strong>Responsible for content (§ 55 Abs. 2 RStV):</strong><br>
Zulkarnain bin Mohamed</p>


<h2 class="mt-6 font-semibold">Legal notices</h2>
<p>Information on liability for content and links, online dispute resolution and other legal notes can be placed here. Replace placeholders with your legal details.</p>
</div>