<div class="max-w-2xl mx-auto py-8 prose">
  <h1>Impressum</h1>
  <p>
    DevWerkHouz<br>
    Owner: Zulkarnain bin Mohamed<br>
    Address: Wilhelm-Guddorf-Straße 10, 10365 Berlin<br>
    Email: devwerkhouz.team@gmail.com<br>
    Phone: [optional]<br>
    Register: [local business registry info if applicable]
  </p>
</div>


